* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
header {
  margin: 0;
}

header h1 {
  font-size: 20px;
  color: white;
  background-color: rgb(58, 57, 63);
  text-align: center;
  margin: 0;
  padding: 25px 50px;
}

.signup {
  margin: 0;
  padding: 0;
}
.signup h2 {
  font-size: 22px;
  color: black;
  text-align: center;
  margin: 0;
  padding: 20px 0px 10px 0px;
}
.signup p {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  color: grey;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}


hr {
  border: 1px solid black;
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 90%;
}

.number {
  padding: 2px 9px;
  margin-left: 13px;
  background-color: #5fcf80;
  color: white;
  font-size: 20px;
  line-height: 30px;
  border-radius: 100% 100%;
}
legend {
  font-size: 23px;
  margin-bottom: 10px;
}


.form-area {
  border: none;
  width: 100%;
}
.form-area legend {
  padding: 0;
}
.form-area legend span {
  display: none;
}
.form-area .info {
  border: none;
  width: 100%;
  margin-bottom: 20px;
}
.info label {
  font-family: "Assisnt", sans-serif;
  margin: 0;
  padding: 0;
}
.info #state {
  margin: 5px 0 0 0;
  width: 100%;
}
.form label {
  display: block;
  font-size: 18px;
  color: grey;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
.form input {
  font-size: 20px;
  width: 100%;
  height: 40px;
  margin: 0px 0px;
  padding: 15px 5px;
  background-color: lightgrey;
  border-radius: 3px 3px;
}
.info #name, #mail, #number, #zip-code, #street-address {
  font-size: 14px;
}
.form input:hover {
  
}
.form input:focus {
  
}
#state {
  margin: 15px 0px 10px 70px;
  line-height: 20px;
  height: 45px;
  font-size: 15px;
}
.info .zip-code {
  margin: 15px 0 0 0;
  padding: 0 0 5px 0;
  width: 88%;
}
.info #zip-code {
  margin: 0;
  width: 50%;
}


hr {
  margin: 40px 0 40px 0;
}


fieldset {
  border: none;
}
fieldset legend {
  
}
fieldset h3 {
  font-size: 18px;
  color: grey;
  margin-top: 30px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.checkbox {
  border: 1px solid red;
}
.checkbox input {
  border: 1px solid orange;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}
.checkbox label {
  border: 1px solid blue;
  display: block;
  width: 90%;
  float: right;
  padding-left: 15px;
  text-indent: -15px;
  /* display: block;
  color: grey;
  margin-left: 0px;
  padding-left: 0px;
  width: 50%; */
}
.radio {
  padding-left: 10px;
}
.radio label {
  display: inline-block;
  color: grey;
  margin-left: 5px;
  padding-left: 7px;
}

#topics {
  width: 85%;
  font-size: 19px;
  color: grey;
  margin-left: 17px;
  margin-top: 20px;
  padding: 0px 0px 0px 0px;
}
#other {
  margin: auto;
  display: block;
  width: 90%;
  margin-top: 20px;
  padding: 40px 0px;
}
#button {
  /* border: 1px solid red; */
  border-radius: 6px;
  margin: auto;
  display: block;
  width: 83%;
  padding: 20px 10px 20px 10px;
  /* background-color: #075770; */
  background-color: rgb(41, 197, 197);
  transition: 2s;
  font-family: "bebas neue", sans-serif;
  font-size: 20px;
  color: white;
}
#button:hover{
  background-color: #128fd6;
}
#button:active{
  background-color: #d36a62;
}


footer {
  margin: 0;
  padding: 0;
}
footer h4 {
  font-size: 16px;
  color: grey;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}



/* TABLET VIEWING RESOLUTION */
@media screen and (min-width: 768px){


  *{
    box-sizing: border-box;
  }


  header h1{
    font-size: 19px;
  }


  .signup h2{
    font-size: 23px;
    margin: 30px 0px 0px 0px;
  }
  .signup p{
    font-size: 15px;
  }


  hr {
    /* border: 1px solid black; */
    width: 98%;
  }


  .form{
    margin: auto;
    width: 100%;
  }
  .number{
    margin: 0px 0px 0px -16px;
    padding: 5px 10px 5px 10px;
  }

  .form-area{
    border: none;
    margin: auto;
    margin-top: 30px;
    height: 560px;
    width: 100%;
  }

  .form label{
    display: inline-block;
    width: 130px;
    text-align: left;
    margin: 10px 200px 0px 10px;
    padding: 0px 0px 0px 0px;
  }
  .form input{
    width: 370px;
  }
  .form input:hover{
    border: 3px solid #075770;
  }
  .form input:required {
    text-align: right;
    padding-right: 20px;
  }

  #name,
  #mail,
  #number,
  #street-address,
  #city,
  #zip-code{
    margin-left: -140px;
  }
  #state{
    width: 370px;
    margin: 10px 0px 0px -140px;
  }
  #zip-code{
    width: 150px;
  }
  .form input:focus{
    background-color: lightgrey;
  }
  .info {
    margin: auto;
  }


  hr{
      margin: 40px 0px 40px 0px;
  }


  fieldset{
    border: none;
  }
  legend{/* Newsletter Heading */
    font-size: 20px;
    margin-top: 30px;
    padding-left: 10px;
  }
  fieldset h3{/* Select the newsletters */
    font-size: 20px;
    padding-left: 0px;
  }
  .checkbox {
    padding: 0px 0px 0px 0px;
  }
  .checkbox label{
    width: 150px;
    margin: 0px 0px 0px -320px;
    padding: 0px 0px 0px 0px;
  }


  .radio label{
    width: 100px;
    margin: 0px 0px 0px -330px;
    padding: 0px 0px 0px 0px;
  }

  #topics{
    font-size: 20px;
    margin: 10px 0px 0px 5px;
  }
  #other{
    width: 100%;
    background-color: lightgrey;
  }
  #button{
    width: 95%;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 20px;
  }

  footer{
    width: 100%;
  }
  footer h3{/* Newsletter Format */
    font-size: 19px;
    margin-left: 0px;
    padding-left: 0px;
  }
  footer h4{/* Copy right */
    font-size: 20px;
    color: black;
  }
}



@media screen and (min-width: 1024px) {


  legend{
    margin-left: 15px;
  }

  .form {
    width: 700px;
  }

  .info{
    width: 670px;
  }


  .checkbox{
    margin: auto;
    width: 670px;
  }

  .radio{
    margin: auto;
    width: 670px;
  }


}
