
*{
  box-sizing:border-box;
}

header h1 {
  font-size: 25px;
  color: white;
  background-color: black;
  text-align: center;
  margin: -9px -9px 0px -9px;
  padding: 25px 50px;
}

.signup{

}
.signup h2 {
  font-size: 22px;
  color: black;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 10px 0px;
}
.signup p {
  text-align: center;
  font-size: 17px;
  color: grey;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
}


hr{
  border: 3px solid black;
}


.form{

}
.form-area{
  display: ;
}
.number {
  padding: 1px 5px;
  margin-left: 13px;
  background-color: #5fcf80;
  color: white;
  font-size: 20px;
  line-height: 30px;
  border-radius: 100%;
}
legend{
  font-size: 23px;
  margin-bottom: 10px;
}

.form label{
  font-size: 20px;
  color: grey;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.form input{
  margin: 15px 0px;
  padding: 15px 90px;
  background-color: lightgrey;
  border-radius: 3px;
}
input:focus{

}
#state{
  border: 2px solid red;
  margin: 15px 0px 10px 70px;
  line-height: 20px;
  height: 45px;
}




footer{

}
fieldset{

}
footer p{
  font-size: 18px;
  color: grey;
  padding-left: 15px;
}
footer h3{
  font-size: 18px;
  color: grey;
  margin-top: 30px;
  padding-left: 15px;
  padding-bottom: 0px;
}
.checkbox{
  padding-left: 10px;
}
.radio{
  padding-left: 10px;
}
#topics{
  font-size: 19px;
  margin-left: 15px;
  margin-top: 20px;
}
#other{
  margin: auto;
  display: block;
  width: 90%;
  margin-top: 20px;
  padding: 40px 0px;
}
#button{
  margin: auto;
  display: block;
  width: 84%;
  padding: 20px 10px 20px 10px;
  background-color: #075770;
  font-family: bebas neue, sans-serif;
  font-size: 30px;
  color: white;
}
#button[type=button]{

}
footer h4{
  font-size: 15px;
  color: lightgrey;
  text-align: center;
  margin-bottom: 180px;
}


@media screen and (min-width: 768px){

  body{
    border: 2px solid black;
  }

  header{

  }
  header h1{
    font-size: 19px;
  }

  .signup{

  }
  .signup h2{
    font-size: 23px;
    margin: 30px 0px 0px 0px;
  }
  .signup p{
    font-size: 15px;
  }

  hr{
    border: 3px solid black;
    width: 98%;
  }

  main{

  }

  .form{
    margin: auto;
    width: 725px;
  }
  .number{
    margin: 0px 0px 0px -16px;
    padding: 5px 10px 5px 10px;
  }
  legend{

  }
  .form-area{
    height: 680px;
    width: 100%;
  }
  fieldset{

  }
  .form h1{

  }
  .form label{
    border: 1px solid red;
    width: 200px;
    display: inline-block;
    text-align: left;
    float: left;
    margin: 42px 0px 5px 0px;
    padding: 10px 0px 0px 0px;
  }
  .form input{
    border: 1px solid blue;
    display: inline-block;
    text-align: left;
    float: right;
  }
  #zip-code{
    width: 1%;
  }


  footer{
    width: 100%;
  }
  fieldset{

  }
  legend{/* Newsletter Heading */
    font-size: 20px;
    margin-top: 30px;
    padding-left: 10px;
  }
  footer p{/* Select the newsletters */
    font-size: 20px;
    padding-left: 0px;
  }
  .checkbox {
    padding: 0px 0px 0px 0px;
  }

  footer h3{/* Newsletter Format */
    font-size: 19px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .radio{
    padding-left: 0px;
  }
  footer h4{/* Copy right */
    font-size: 15px;
  }
  #topics{
    font-size: 18px;
    margin: 20px 0px 20px 0px;
  }
  #other{
    width: 100%;
    background-color: lightgrey;
  }
  #button{
    width: 97%;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }

}
